<div class="">
  //- <pre v-draggable  class="prebox">tableColumnData: {{ tableColumnData }}</pre>
  //- <pre v-draggable class="prebox">editMap{{ createMap }}</pre>
  //- <pre v-draggable class="prebox">editMap{{ editMap }}</pre>
  //- pre(class="prebox") {{tableColumnData}}
  //- pre {{searchMap}}
  //- pre(class="prebox" v-draggable style="font-size: 12px") {{searchMap}}
  //- <pre v-draggable class="prebox">{{ queryFormOptions }}</pre>
  div
    //- el-form(:model="searchMap.defaultValue" :inline="true" ref="searchForm" class="")
      include ./search.pug
      +formItem('searchMap')

      template(v-if="buttonDisplayType()")
        el-form-item(label="")
          el-button(type="primary" @click="searchBtn" :loading="pageLoading") 查询
          el-button(@click="resetBtn") 重置
          slot(name="handleBox")
      template(v-else)
        slot(name="handleBox")
    //- <button v-if="getComponentType({}) == 'select'" @click="$emit('asdasd', '内部事件')">新增</button>

  <div class="" style="text-align: right" v-loading="pageLoading">
    div(class="mb10" v-if="tableTopHandleBox.length") 
      <template v-for="btn in tableTopHandleBox">
        <el-button :type="btn.type || 'primary'" @click="tableTopHandleBtn(btn)">{{ btn.text }}</el-button>
      </template>

    Table(v-bind="getTableAttrs()" :data="tableData" :tableColumnData="tableColumnData"  @pageSizeChange="pageSizeChange" @pageNumberChange="pageNumberChange" @tableHandle="tableHandle" @selection-change="handleSelectionChange")
      <template #name="scope">
        span {{ scope.row.name }}1
      </template>
  </div>

  <component v-if="handleBtnInfo.showType && visible" :visible.sync="visible" :is="`${handleBtnInfo.showType}`" :closeOnClickModal="true" v-bind="handleBtnInfo">
    <template v-if="handleBtnInfo.showType">
      span {{getCurrentSceneMap()}}
      el-form(:model="getCurrentSceneMap()" :inline="false" ref="handleForm" class="overauto")
        template(v-if="handleBtnInfo.sceneKey == 'create'")
          include ./search.pug
          +formItem(`createMap`)
        template(v-if="handleBtnInfo.sceneKey == 'edit'")
          include ./search.pug
          +formItem(`editMap`)
      <div class="demo-drawer__footer">
        <el-button @click="visible = false">取 消</el-button>
        <el-button type="primary" @click="handleSubmit" :loading="createBtnLoading">确 定</el-button>
      </div>
    </template>
  </component>
</div>