body {
  background: url('../vb1-main.png');
  #app .manage-main-content > * {
    font-family: "Microsoft YaHei","Helvetica Neue","Helvetica","Arial","sans-serif","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;

    .PageTitle span, .PageTitle a {
      color: #596679;

      &:hover {
        color: #5ca1ff;
      }
    }

    .el-button--primary {
      // color: #596679;
      &:hover {
        color: #fff;
      }
    }


    .el-select {
      // .el-input__suffix {
      //   background: url(../chosen-sprite.png) 9px -0px;
      //   background-size: 50px 50px;
      //   background-repeat: no-repeat;
      //   z-index: 2;
      //   .el-input__suffix-inner i::before {
      //     // display: none;
      //     content: '';
      //   }
      // }
    }

    .el-table .el-table__header-wrapper .has-gutter div {
      color: #3a3636;
      font-weight: 300;
      text-align: center;
      font-family: "Microsoft YaHei","Helvetica Neue","Helvetica","Arial","sans-serif","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;

    }
  }
}